<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE web-app
    PUBLIC "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
    "http://java.sun.com/dtd/web-app_2_3.dtd">

<web-app>
  <!-- INICIO: Servlets de Autenticação -->
  <servlet>
    <servlet-name>Login</servlet-name>
    <servlet-class>br.com.idecaph.login.LoginServlet</servlet-class>
  </servlet>
  
  <servlet-mapping>
    <servlet-name>Login</servlet-name>
    <url-pattern>/Login</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <servlet-name>Index</servlet-name>
    <servlet-class>br.com.idecaph.login.IndexServlet</servlet-class>
  </servlet>
  
  <servlet-mapping>
    <servlet-name>Index</servlet-name>
    <url-pattern>/Index</url-pattern>
  </servlet-mapping>
  <!-- FIM: Servlets de Autenticação -->
  
  
  <!-- Servlets -->
  <servlet>
    <servlet-name>greetServlet</servlet-name>
    <servlet-class>br.com.idecaph.server.GreetingServiceImpl</servlet-class>
  </servlet>
  
  <servlet-mapping>
    <servlet-name>greetServlet</servlet-name>
    <url-pattern>/idecaph/greet</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <servlet-name>colaboradoresServlet</servlet-name>
    <servlet-class>br.com.idecaph.server.ColaboradoresServiceImpl</servlet-class>
  </servlet>
  
  <servlet-mapping>
    <servlet-name>colaboradoresServlet</servlet-name>
    <url-pattern>/idecaph/colaboradores</url-pattern>
  </servlet-mapping>
  
  <!-- Default page to serve -->
  <welcome-file-list>
    <welcome-file>Login</welcome-file>
  </welcome-file-list>

</web-app>
